.card-title {
    font-size: 12px;
    color: #ffffff;
}

.card-header {
    font-size: 20px;
}

.card-body {
    .btn-card-positive {
        background-color: transparent;
        color: #ffffff;
        border: 0;
        cursor: pointer;
        display: block;
        font-family: Inter, sans-serif;
        font-weight: 700;
        padding: 8px 0;

        &:hover{
            color: #ff0909;
        }
    }

    .btn-card-negative {
        background-color: transparent;
        color: #ffffff;
        border: 0;
        cursor: pointer;
        display: block;
        font-family: Inter, sans-serif;
        font-weight: 700;
        padding: 8px 0;

         &:hover{
            color: #ffea00;
        }
    }
}